/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid gray;
}

/* GENERAL STYLES */

html {
font-size: 62.5%;
}

body {
font-size: 1.6rem;
line-height: 1.5;
color: black;
margin: .5rem;

}

h1 {
    font-size: 5rem;
}

a {
    text-decoration: none;
    color: darkslategrey;
}
/* HEADER SECTION STYLES */

header {
    width: 100%;
    background-color: lightgray;
}

header h1 {
margin: 2rem;
}

nav {
    margin: 2.5rem;
    display: flex;
    margin-bottom: .75rem;
}

nav a {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

a.nav-button {
    padding: 1rem;
    background-color: white;
    color: black;
}

.active {
color:white;
background-color: black;
padding: 1rem;
}

/* MAIN SECTION STYLING */

 section div {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    width: 50%;
}